.item {
  width: 180px;
  display: inline-block;
}

.gray {
  background-color: rgb(230, 221, 221);
}

.line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.item {
  width: 200px;
}

.userId {
  width: 40px;
  display: inline-block;
}

.role {
  width: 130px;
}

.biggerButton {
  margin-top: -20px;
  height: 50px;
}
